# Core functionality - changes here should be rare!
/src/app.py                   @eljayvee
/src/backend/database.py      @eljayvee
/src/backend/routers/auth.py  @eljayvee

# The frontend will need refactored soon to be more object oriented.
/src/static/   @eljayvee
